.applayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
}

#email{
  font-family: "Gotham Rounded";
  font-size: small;
  padding: 10px;
  color:white;
}

.title {
  font-size: 12px;
  font-family: "Gotham Rounded Bold";
  text-align: center;
}

.header {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding: 10px;
  padding-top: 100px;
}

.content {
  background-color: #1b1b1b;
  height: 100%;
  flex: 5;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}

.menu-list li {
  /* margin-right: 8px; */
  margin: 30px;
}

.menu-button{
  text-decoration: none;
  color: white;
  justify-content: space-between;
}

.menu-button:hover{
  background-color: #ffffff;
  color: #000000;
}

.logout-button{
  color:#1DB954;
  border-color: #1DB954;
}

.logout-button:hover {
  background-color: #1DB954;
  color: #1b1b1b;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1b1b1b;
  color: aliceblue;
  height: 100vh;
  font-size: 36px;
  font-family: "Gotham Rounded Bold";
}
