.artist-link {
  grid-column: span 1;
  grid-row: span 1;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Rounded";
  color: white;
}

.artist-card:hover {
  background-color: #b3b3b3;
}

.artist-card {
  display: flex;
  background-color: #191414;
  flex-direction: column;
  height: 40dvb;
  align-items: center;
  justify-content: space-around;
  justify-items: flex-start;
  width: 90%;
}


.drag-card {
  flex-direction: row;
  height: 20dvb;
  width: 100%;
  font-family: "Gotham Rounded";
  color: white;
}

.play-button {
  border: none;
  background: none;
  color: #1DB954;
}

.play-button:hover{
    color: #ffffff;
}

.name-text {
  width: 40dvb;
}
.index-text {
    width: 5dvb;
}

.artist-image {
  max-width: 60%;
  max-height: 60%;
}

.artist-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5dvb;
}

.rank-btn-container {
  margin-top: 5dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
